---
import Header from "../components/Header.astro"
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{Astro.props.title}</title>
		<ViewTransitions />
	</head>
	<!-- 
		Si queremos que una barra lateral, el footer o cualquier componente se mantenga pasando de una página a otra, debe ir en el Layout 
	-->
	<body class="bg-gray-900 min-h-screen pb-32">
		<!-- Header del sitio -->
		<Header />
		<main class="max-w-5xl mx-auto px-4 m-auto">
			<!-- Aquí se renderiza el contenido de cada página -->
			<slot />
		</main>
	</body>
</html>

<style is:global> /* agregando isglobal hace que los estilos se apliquen a todos los componentes, si no lo tiene el style se aplica solo al componente del archivo, en este caso el layout*/
	:root {
		color-scheme: light dark;
	}
	html {
		scroll-behavior: smooth;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
	}

</style>
